[include]
  path = ~/.gitconfig.local

[alias]
  cm = commit
  co = checkout
  b = branch
  st = status
  df = diff
  tree = log --graph --all --format=\"%x09%C(cyan bold)%an%Creset%x09%C(yellow)%h%Creset %C(magenta reverse)%d%Creset %s\"
  wt = worktree
